* {
    font-family: "nunito", sans-serif;

}

display {
    font-size: 36px;
    line-height: 49px;
    font-weight: 800;
}

.navbar, .section-center, .footer-width {
    margin-right: auto;
    margin-left: auto;
    max-width: 1080px;
}

.white {
    color: white;
}

.navbar {
    padding-top: 40px;
    padding-bottom: 40px;
}

.nav-button {
    font-size: 20px !important;
    font-weight: 600;
}

.footer {
    background-color: black !important;
    color: white;
}