---
layout: index
title: Brian Ngan
---

<div class="col-xs-12 height-mobile"></div>

<div class="container pl-4 text-right" id="portfolio" data-aos="fade-up">
  <h1 class="display-1">
    Portfolio
  </h1>
</div>


<div class="container">
  <div class="row">
    <div class="col-2 offset-10" data-aos="fade-up" >
      <hr data-aos="fade-up" >
    </div>
  </div> </div>
  <div class="col-xs-12" style="height:24px;"></div>
  
<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-5" data-aos="fade-up" >
        <h5>UX Design Portfolio</h5>
        <ul>
          <!-- <li data-aos="fade-up"><a href="https://www.notion.so/Designing-Appointments-for-SAAS-2bee31e1865a4cb19f51e4d2a4bc80c8" target="_blank">Designing Appointments for Saas</a></li> -->
          <li data-aos="fade-up"><a href="https://www.notion.so/Designing-Photonico-b38f24782ad44ea18d9829e24e75ebdb" target="_blank">Designing Photonico</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12" style="height:80px;"></div>


<div class="container">
  {% for post in site.posts %}
  {% if post.categories contains 'portfolio' %}
      {% cycle 'add row' : '<div class="row">', "", "" %} 
        <div class="col-sm-4 d-flex align-items-stretch mb-3">
            <div class="card boxshadow border-0" data-aos="fade-up" onclick="window.location.href = '{{ post.url }}';">
              <div class="card-body hover card-click">
                {{ post.excerpt }}
                <h5>{{ post.title }}</h5> 
                <span class="subtle">{{ post.categories }}  |  {{ post.date | date_to_string }}</span>
              </div>  
            </div>
          </div>
      {% cycle 'end row' : "", "", '</div>' %}
        <div class="col-xs-12" style="height:80px;"></div>
      {% else %}
      {% continue %}
    {% endif %}
  {% endfor %}
</div>
<div class="col-xs-12" style="height:144px;" id="articles"></div>
<div class="container pl-4" data-aos="fade-up">
  <h1 class="display-1">
    Articles
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-2 ml-2" data-aos="fade-up" >
      <hr data-aos="fade-up" >
    </div>
  </div> </div>
  <div class="col-xs-12" style="height:24px;"></div>
  
<div class="container">
  {% for post in site.posts %}
    {% if post.categories contains 'portfolio' %}
    {% continue %}
    {% else %}
      <div class="card boxshadow border-0" data-aos="fade-up" onclick="window.location.href = '{{ post.url }}';">
        <div class="card-body hover card-click">  
          <div class="container">
            <div class="row">
              <div class="col-sm-9">
                <h5>{{ post.title }}</h5> 
                {{ post.excerpt }}
              </div>
              <div class="col-sm-3 mt-auto mr-auto">
                <span class="subtle">{{ post.categories }}  |  {{ post.date | date_to_string }}</span>
              </div>
            </div>
          </div>
          
        </div>
      </div>  
      <div class="col-xs-12" style="height:48px;"></div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="col-xs-12" style="height:48px;"></div>
<div class="container"><h4>Picture Of The Day</h4></div>
<div class="col-xs-12" style="height:24px;"></div>
  <img src="https://source.unsplash.com/daily?architecture,white,minimal" alt="picture-of-the-day">
</div>
</div>
</div>
<br>
<br>
<br>