<footer class="footer">
  <div class="container">
    <div class="columns is-three-quarters">
      <div class="column">
        <p class="footer-style">Brian Ngan <strong class="footer-style">| Product Manager</strong>      <br>
        © 2020 
      </p>
      </div>
    <div class="column is-one-quarter">
      <i class="far fa-envelope" style="color:white"></i>
        &nbsp &nbsp
      <a class="footer-style" href="mailto:brianngan92@gmail.com? Subject=Hello%20Brian!" target="_top">brianngan92@gmail.com</a>
      <br>
      <i class="fab fa-linkedin" style="color:white"></i>
        &nbsp &nbsp
      <a class="footer-style" href="https://www.linkedin.com/in/bngan" target="_top">linkedin.com/in/bngan</a>
    </div>
  </div>
</footer>