<footer class="bg-dark w-100 text-white">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="py-4">
          <p>Brian Ngan | Product Manager
          <br>
            © 2020
          </p>
        </div>
      </div>
      <div class="col-sm">
        <div class="py-4">
          Email: &nbsp; <a class="text-white" href="mailto:brianngan92@gmail.com? Subject=Hello%20Brian!">brianngan92@gmail.com</a>
          <br>
          LinkedIn: &nbsp; <a class="text-white" href="https://www.linkedin.com/in/bngan" >linkedin.com/in/bngan</a>
        </div>
      </div>
    </div>
  </div>
</footer>