<footer class="footer has-background-black has-text-white">
  <div class="container ">
    <div class="columns is-three-quarters">
      <div class="column">
        <p>Brian Ngan Product Manager
        <br>
          © 2020 
        </p>
      </div>
    <div class="column is-one-quarter">
      <i class="far fa-envelope has-text-white"></i>
        &nbsp &nbsp
      <a class="footer-style" href="mailto:brianngan92@gmail.com? Subject=Hello%20Brian!" target="_top">brianngan92@gmail.com</a>
      <br>
      <i class="fab fa-linkedin has-text-white"></i>
        &nbsp &nbsp
      <a class="footer-style" href="https://www.linkedin.com/in/bngan" target="_top">linkedin.com/in/bngan</a>
    </div>
  </div>
</footer>