<div class="col-xs-12" style="height: 240px;"></div>
<div class="col-xs-12 mobile-show" style="height: 240px;"></div>
<div class="container-fluid" data-aos="fade-up" data-aos-delay="200" >
  <h1>BRIAN NGAN</h1>
  <div class="col-xs-12 mobile-show" style="height:4px;"></div>
  <h2 style="margin: 8px 0px 8px 0px">Product Manager and Designer</h2>
  <div class="col-xs-12 mobile-show" style="height:16px;"></div>
  <p style="margin: 8px 0px 8px 0px">3 years of experience building financial, marketplace and ecommerce products.</p>
</div>