<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="WrBbD3tH5seFVFfdc_9sITBoLOAL63ugBv2EVCh1piY" />
<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142508162-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-142508162-1');
    </script>
    <script type="application/ld+json">
{
    "@context": "https://schema.org", 
    "@type": "BlogPosting",
    "headline": {{ page.title | jsonify }},
    "name": {{ page.title | jsonify }},
    "alternativeHeadline": {{ page.title | jsonify }},
    "description": {{ page.excerpt | strip_newlines | strip | jsonify }},
    "genre": "search engine optimization",
    "keywords": "seo sales b2b", 
    "wordcount": "1120",
    "url": "{{ site.url }}{{ page.url }}",
    "datePublished": {{ page.date | jsonify }},
    "dateModified": {{ page.last_modified_at | default: page.date | jsonify }},
    "description": "Brian Ngan Product Manager",
    "articleBody": {{ page.content | strip_html | jsonify }},

    "author": {
      "@type": "Person",
      "name": "Brian Ngan",
      "givenName": "Brian",
      "familyName": "Ngan",
      "email": {{ site.email | jsonify }}
    }
  }
    </script>

  <title>Brian Ngan</title>

  <link rel="stylesheet" href="/assets/css/mystyles.css" />
  <!-- <link rel="stylesheet" href="/bulma-brianngan/sass/mystyles.scss" /> -->
  <link rel="stylesheet" href="/assets/css/main.css" />
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>