<nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item logo" href="/">
          Brian <br> Ngan
        </a>
        <span class="navbar-burger burger" data-target="navMenu">
          <span class="burger-line"></span>
          <span class="burger-line"></span>
          <span class="burger-line"></span>
        </span>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
          <a href="/" class="navbar-item">Post</a>
          <a href="/" class="navbar-item">Github</a>
          <a href="/" class="navbar-item" style=display:none>About</a>
          <a href="/" class="navbar-item" style=display:none>Contact</a>
        </div>
      </div>
    </div>
  </nav>
  <script type="text/javascript">
    (function() {
      var burger = document.querySelector('.burger');
      var nav = document.querySelector('#'+burger.dataset.target);

      burger.addEventListener('click', function(){
        burger.classList.toggle('is-active');
        nav.classList.toggle('is-active');
      });
    })();
  </script>