<nav class="navbar is-transparent">
        <div class="navbar-brand">
          <display>BRIAN <br> NGAN</display>
          <div class="navbar-burger burger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      
        <div class="navbar-menu">
          <div class="navbar-end">
              <a class="navbar-item">
                  <button class="nav-button button is-white">Posts</button>
              </a>
              <a class="navbar-item">
                  <button class="nav-button button is-white">Works</button>
              </a>
              <a class="navbar-item">
                  <button class="nav-button button is-white">About</button>
              </a>
              <a class="navbar-item">
                  <button class="nav-button button is-white">Contact</button>                   
              </a>
          </div>
        </div>
      </nav>