<nav class="navbar is-transparent">
  <div class="container">
    <div class="navbar-menu">
      <a class="logo" href="/">
        <div class="navbar-brand">
          BRIAN <br> NGAN
        </div>
      </a>
      <div class="navbar-end">
          <a class="navbar-item">
              <button href="/" class="nav-button button is-white">Posts</button>
          </a>
          <a class="navbar-item">
              <button href="https://github.com/brianngan/brianngan.github.io"class="nav-button button is-white">Github</button>
          </a>
          <a class="navbar-item">
              <button href="/" class="nav-button button is-white"  style=display:none>About</button>
          </a>
          <a class="navbar-item">
              <button href="/" class="nav-button button is-white" style=display:none>Contact</button> 
          </a>
      </div>
    </div>
  </div>
</nav>