<div id="nav-bar">
<ul class="nav justify-content-end">
  {% for i in site.data.navigation %}
  <li class="nav-item nav-tool-tip">
    <a class="nav-link" href="{{ site.baseurl }}{{ i.url }}">{{ i.image }}</a>
    <span class="tool-tip-text">{{ i.text }}</span>
  </li>
  {% endfor %}
  <li class="nav-item nav-tool-tip">
    <a class="nav-link" href="https://github.com/brianngan"><i class="ri-github-line"></i>
      <span class="tool-tip-text">github</span>
    </i></a>
  </li>
  <li class="nav-item nav-tool-tip">
    <a class="nav-link" href="https://dribbble.com/bngan"><i class="ri-dribbble-line"></i></a>
    <span class="tool-tip-text">dribbble</span>

  </li>
  <li class="nav-item nav-tool-tip">
    <div class="dark-mode">
      <dark-mode-toggle
      id="dark-mode-toggle-1"
      legend=""
      appearance="toggle"
      permanent="true"
      dark=""
      light=""
      >
      </dark-mode-toggle>
    </div>
    <span class="tool-tip-text">dark mode</span>
  </li>
</ul>
</div>