<div class="col-lg-6 post-snippet" id="{{id}}">
  <div class="row excerpt">
    <a href="{{ site.baseurl }}{{ post.url }}">
      <h2 class="post-snippet-title">
        {{ post.title }}
      </h2>  
        {{ post.excerpt }} 
    </a>
  </div>
  <div class="container-fluid">
    <div class="row post-snippet-row">
      <div class="col-6 post-snippet-caption">
        {{ post.date | date_to_long_string }} |   {{ post.categories }}
      </div>
      <div class="col-6 post-snippet-link">
        <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-post-snippet" tabindex="-1" role="button" aria-disabled="true">read</a>
      </div>
    </div>
  </div>
</div>
