$primary: #000;
$body-colour: #000;
$success: #1713E5;
$danger: #E5136B;
$gray: #C6C6C6;
// $info: $cyan !default;
// $warning: $yellow !default;
// $light: $gray-100 !default;
// $dark: $gray-800 !default;