$primary: #1b1b1b;
$body-color: #1b1b1b;
$success: #1713E5;
$danger: #E5136B;
$gray: #7b7b7b;
$gray-100: #f3f3f3;
// $info: $cyan !default;
// $warning: $yellow !default;
// $light: $gray-100 !default;
// $dark: $gray-800 !default;