$primary: #444444;
$body-colour: #444444;
$success: #009FD1;
$danger: #F92F77;
// $secondary: $gray-600 !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $light: $gray-100 !default;
// $dark: $gray-800 !default;