@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;1,400&display=block');

$font-stack: 'nunito', san-serif;
$enable-responsive-font-sizes: true;

// All

body {
  font: 100% $font-stack;
  color: $body-color;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.4;
}

p {
  margin-bottom: 2.4rem;
  line-height: 2.4rem;
}

p.hero-1 {
  font-size: 400px;
  font-weight: 700;
  line-height: 80%;
}
p.hero-2 {
  font-size: 400px;
  font-weight: 700;
  line-height: 80%;
}
a.nav-link {
  cursor: pointer;
  font-size: 21px;
  font-weight: 600;
  color: $body-color;
}
a {
  text-decoration: underline;
  cursor: pointer;
  color: $body-color;

  &:hover {
    position: relative;
    color: $body-color;
    font-style: italic;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.21,.61,.35,1);
  }
  
  &:hover:active {
    font-weight: 700;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.21,.61,.35,1);
  }
  
  &.nav-link {
    text-decoration: none;
  }
}

button.navbar-mobile-btn{
  font-size: 21px;
  font-weight: 800;
  color: #fff;;
}
h1 {
  font-size: 52px; 
  font-weight: 700;
  line-height: 110%;
}
h1.display-1 {
  font-size: 104px; 
  font-weight: 700;
}
h1.display-2 {
  font-size: 64px; 
  font-weight: 700;
}
h1.display-3 {
  font-size: 48px; 
  font-weight: 700;
  color: $gray-400;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
}

h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.6rem;
}
h5 {
  font-size: 24px;
  font-weight: 700;
}

li {
  margin-bottom: 2rem;
}
ol, ul, dl {
  padding-inline-start: 36px;
}

blockquote{
  font-size: 1.4em;
  margin: 48px 0px 3.6rem 0px;
  font-style:italic;
  color: $gray-100;
  padding:1.2em 30px 1.2em 50px;
  // border-left:8px solid $blue ;
  line-height:1.6;
  position: relative;
  background: #fff;
  border-radius: 8px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.014),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.04),
  0 22.3px 17.9px rgba(0, 0, 0, 0.052),
  0 41.8px 33.4px rgba(0, 0, 0, 0.066),
  0 100px 80px rgba(0, 0, 0, 0.02)
  ;

  &::before{
    content: "\201C";
    color:#afcde4;
    font-size:3em;
    position: absolute;
    left: 10px;
    top:-10px;
  }

  &::after{
    content: '';
  }

  & p{
    display:block;
    color:$primary;
    font-style: italic;
    font-weight: 600;
    font-size: 21px;
    margin-top:1em;
    margin-bottom: 0;

  }
}

span.badge {
  font-style: italic;
  font-size: 21px;
  font-weight: 600;
}
span.subtle {
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  color: $gray;
}

// Mobile
@include media-breakpoint-down(sm) {
  body {
    font-size: 19px;
  }
  h1.display-1 {
    font-size: 64px; 
  }

  h1.display-2 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
    line-height: 1.8rem;
    margin-bottom: 1.6rem;
  }
  h3 {
    font-size: 24px;
    line-height: 1.8rem;
    margin-bottom: 1.6rem; 
  }
  p.hero-2 {
    font-size: 120px;
  }
  p {
    line-height: 1.8rem;
    margin-bottom: 1.6rem;
  }
  li {
    margin-bottom: 1rem;
  }
  ol, ul, dl {
    padding-inline-start: 24px;
  }
  a.nav-link {
    font-size: 19px;
  }
  button.navbar-mobile-btn{
    font-size: 19px;
  }

  blockquote {
    margin: 24px 0px 2.4rem 0px;
    
  }
  blockquote p {
    font-size: 16px;
    line-height: 1.4rem;
    font-weight: 400;
  }

}
// Tablet
@include media-breakpoint-between(sm, lg) {
  body {
    font-size: 21px;
  }
  h1.display-1 {
    font-size: 64px; 
  }
  p.hero-1 {
    font-size: 320px;
    line-height: 100%;
  }
  p.hero-2 {
    font-size: 220px;
  }
}
// Desktop
@include media-breakpoint-up(xl) {
}