@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&display=swap');
$font-stack: 'Inconsolata', monospace;
$enable-responsive-font-sizes: true;

/* Define breakpoints and font sizes */
@include media-breakpoint-down(xl) {
  html {
    font-size: 1rem;
   }
  }

@include media-breakpoint-up(xl) {
  html {
   font-size: 1.5rem;
  //  24px
  }
 }

body{
  font: 100% $font-stack;
  color: $body-color;
  font-weight: 500;
}

 h1 {
  font-size: 3.6em; 
  font-weight: bold;
  line-height: 110%;
}

h2 {
  font-size: 2.1em;
  font-weight: bold; 
  line-height: 100%;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.6em;
  font-weight: bold; 
  line-height: 100%;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  line-height: 140%;
}

div.card-body p{
  margin-bottom: 0px;
}
div.card-body h2{
  margin-top: 0px;
}

.active {
  border-bottom: 4px solid;
}

a {
  cursor: pointer;
  color: $body-color;

  &:hover {
    position: relative;
    color: $body-color;
    font-style: italic;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.21,.61,.35,1);
  }
  
  &:hover:active {
    font-weight: 700;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.21,.61,.35,1);
  }
}

span.subtle {
  color: $gray;
}

.nav-tab{
  font-weight: bold;
} 

.nav-link {
  font-weight: bold;
}