@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

$font-stack: 'Nunito', sans-serif;
$enable-responsive-font-sizes: true;

html {
    font-family: $font-stack;
    font-size: 21px;
    line-height: 1.4;
    color: $body-colour;
  }

a.navbar-brand {
    font-family: $font-stack;
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
}