@import "base/typography.scss";
@import "layout/navigation.scss";
@import "layout/hero.scss";
@import "layout/post-snippet.scss";
@import "layout/table-of-content.scss";
@import "layout/post.scss";
@import "layout/footer.scss";
@import "component/buttons.scss";

// Hard gutter fixes to keep lines full width
div.container-fluid{
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

div.row{
  --bs-gutter-x: 0px;
}