body {
<<<<<<< HEAD
    background-color: #1c1a20;}
=======
    background-color: #272727;}
>>>>>>> 2898a1b990d937d9ed4cb049c8c085f1373b01c1

* {
    border-color: #6e6e6e !important;
    color: #ededed !important;
}

a.nav-link:hover {
      background-color: black;
    }
div.dark-mode:hover{
    background-color: black;
}

#nav-bar {
<<<<<<< HEAD
    background-color: #1c1a20 !important;
}

a.btn-post-snippet:hover {
      background-color: black;
}
=======
    background-color: #272727 !important;
}
>>>>>>> 2898a1b990d937d9ed4cb049c8c085f1373b01c1
