---
---

@charset "utf-8";

@import "bootstrap-4.0.0/scss/bootstrap.scss";

@import "theme";
@import "colours";
@import "buttons";
@import "navigation";
@import "typography";
@import "variables";

html, body {
    min-height: 100%;
}

img {
    width: 100%;
    max-height: 100%;
    display: block;
}

#navbar {
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  left: 0;
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 100;
}

/* Style the navbar links */
#navbar a {
float: left;
display: block;
// color: white;
// text-align: center;
// padding: 15px;
// text-decoration: none;
}

a.nav-link:hover {
background-color: #f8f8f8;
// color: black;
}

.section {
    display: flex;
    min-height: 70vh;
    flex: 1 0 auto;
    flex-direction: column;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

div.card-body:hover {
    background-color: #f8f8f8;
    border-radius: 7px;
}

footer.bg-dark {
    background-color: #000 !important;
}

#navbar-mobile-menu {
    font-size: 16px;
    font-weight: 600;
    position: fixed;
    bottom: 0px;
    padding: 0px;
    padding-bottom:8px;
    padding-top: 8px;
    width: 25%;
    background-color: #f8f8f8;
    text-align: center;
    z-index: 999;
    border-radius: 7px;
    opacity: 98%;
}

.navbar-mobile-btn {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 16px;
    font-weight: 600;
    background-color: #f8f8f8;
}

.navbar-mobile-content {
    display: none;
    padding: 8px;
}

h1, .h1 {
    margin-bottom: 1.2rem;
}

h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.75rem;
}