/* nav styles */
a.logo {
    color: black;
    font-size: 2.75em;
    line-height: 1.25em;
    font-weight: 800;
    padding: 12px
}

/* .navbar {
    padding-top: 4em;
    padding-bottom: 4em;  
    display: flex;
    flex-direction: row;
    text-align: right; */
}

.nav-flex {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.nav-btn {
    font-size: 1.5em;
    font-weight: 700;
}

#navMenu {
    box-shadow: none;
    position: absolute;
    right: 0%;
}

.navbar-burger {
    height: inherit;
    width: 5rem;
}

span.burger-line {
    padding-bottom: 0.1em;
    border-radius: 5px;
}
/* nav styles end */

/* footer styles */
.footer {
    background-color: black;
}

.footer-style {
    color: white;
}

a.footer-style:hover {
    color: #009FD1;
}
/* footer style end */

.section {
    display: flex;
    min-height: 100vh;
    flex: 1 0 auto;
    flex-direction: column;
}

h1 {
    font-size: 4em;
    font-weight: 600;
    /* padding-top: 1.5em; */
    padding-bottom: .75em;
    color: black;
    line-height: 1.1em;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    padding-top: 1em;
    padding-bottom: .25em;
    color: black;
    line-height: 1.1em;    
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 1em;
    padding-bottom: .25em;
    color: black;
    line-height: 1.1em;  
}

h4 {
    font-size: 18px;
    font-weight: 800;

    padding-bottom: 0.5em;
    padding-bottom: 0.5em;
    color: black;
    text-align: justify;
}

pre.highlight {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 0.5em;
    color: black;
    text-align: justify;
    padding: 20px;
    background-color: #F9F9F9;
}

div.highlight {
    padding-top: 20px;
    padding-bottom: 20px;
}


span.subtle {

    padding: 10px;
}

.subtle {
    color: #A2A2A2;
    font-weight: 400;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
  } 

blockquote {
background: #F9F9F9;
border-left: 5px solid black;
margin-top: 20px;
margin-bottom: 20px;
padding: 1.5em 20px;
quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
color: #black;
content: open-quote;
font-size: 3em;
line-height: 0.1em;
margin-right: 0.25em;
vertical-align: -0.4em;
}
blockquote p {
display: inline;
  }

ul{
    list-style-type: disc;
    padding-left: 30px;
}

ol {
    padding-left: 30px;
}

p, span, a, li, br, code, strong{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 0.5em;
    color: black;
    text-align: justify;
}

a {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 0.5em;
    color: #009FD1;
}

.card-index {
    right:24px;
    box-shadow: none;
    border-radius: 8px;
    padding: 24px;
}

.card-content{
    padding: 0;
}

.hideme
{
    opacity:0;
}

.container{
    width: 100%;
}

div.on-hover-show {
    display: none;
    
}

div.card-index:hover + div.on-hover-show {
    display: block;
    position: absolute;
    margin-top: 5px;
}

.marquee {
    animation: marquee 15s linear infinite;
    animation-delay: 0.2s;
    animation-timing-function: ease-in;
}

@keyframes marquee {
    0% { left: 0; }
    2% { left: 2%; }
  }


div.card-index:hover {
    background-color: #f5f5f5;
}

span.post-tag{
    padding: 10px;
    border-radius: 100px;
    background-color: A2A2A2;

    color: black; 
}