/* Main Layout Level */
@media (min-width: 927px) {
    .container {
      max-width: 927px;
    }
  }

  @media (min-width: 768px) {
    p {
      font-size: 24px;
      line-height: 1.6;
      margin-top: 30px;
    }

    li {
      font-size: 24px;
      line-height: 1.6;
    }

    h6 {
      font-size: 32px;
    }
       
  }

@font-face {
  font-display: block;
}

a {
  color: #242327;

}
a:visited {
  color: #242327;
}

a.disabled {
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 100%;
}

.img{
  width: 30%;
}

.img-text-block {
  position: absolute;
  top: 20px;
  right: 2%;
  padding-left: 20px;
  padding-right: 20px;
  font-style: italic;
}

/* Navbar Start */
.navbar{
  margin-top: 50px;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}

.navbar-text {
  align-items: flex-start;
}
/* Navbar End  */

/* Card Start */
.card{
  padding: 0px;
  border: none;
  border-radius: 0px;
}

.card-title{
  margin-bottom: 0px;
}

.card-text{
  font-size: 16px;
  margin-top: 16px;
}

.card-img-top {
width: 100%;
height: 250px;
object-fit: cover;
border-radius: 0px;
}
/* Card End */
 
.btn {
  background: linear-gradient(to right, #242327 50%,white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  border: 0px;
  border-radius: 0px;
  color: #242327;
  text-decoration-line: none;
  
}

.btn:hover {
  background-position: left bottom;
}

.btn:active {
  background-position: left top;
}

/* Reveal Text Start */
body {
  display: block;
  background-color: #F9F8F6;
  /* flex-direction: column; */
  font-family: 'Libre Baskerville', serif;
  font-display: auto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #242327;
  text-align: left;
}


.reveal-text, .reveal-text:after {
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-duration: 800ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.reveal-text {
  position: relative;
  display: block;
  user-select: none;
  animation-name: reveal-text;
  color: #242327;
  white-space: nowrap;
  cursor: default;
}
.reveal-text:after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #242327;
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  animation-name: revealer-text;
}
@keyframes reveal-text {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes revealer-text {
  0%, 50% {
    transform-origin: 0 50%;
  }
  60%, 100% {
    transform-origin: 100% 50%;
  }
  50% {
    transform: scaleX(1);
  }
  60% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
/* Reveal Text End */

/* display this row with flex and use wrap (= respect columns' widths) */

.row-flex {
  display: flex;
  flex-wrap: wrap;
}


/* vertical spacing between columns */

[class*="col-"] {
  margin-bottom: 30px;
}
