---
---

@charset "utf-8";

@import "bootstrap-4.0.0/scss/bootstrap.scss";

@import "theme";
@import "colours";
@import "buttons";
@import "navigation";
@import "typography";
@import "variables";

::-moz-selection { background-color: #FFA; }
::selection { background-color: #FFA; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}


div.post p {
  & img:active{
  -webkit-transform:scale(1.5); /* or some other value */
  transform:scale(1.5); 
  z-index: 999;
  border-width: 4px;
  cursor:url("/assets/cursor-magnifier-2.svg"),auto;
  }
  & img {cursor:url("/assets/cursor-magnifier.svg"),auto;
  }
}

/* Define breakpoints and font sizes */
@include media-breakpoint-down(sm) {
  div.card-body {
    padding: 1rem;
  }
  div.container-fluid {
    padding: 16px;
  }
}

@include media-breakpoint-between(md,lg) {
  div.card-body {
    padding: 1rem;
  }
  div.container-fluid {
    padding: 48px;
  }
}

@include media-breakpoint-up(xl) {
  div.card-body {
    padding: 1.25rem;
   }
   div.container-fluid {
     padding: 48px;
   }
  
 }

p{
  margin-top: 0px;
}

div.card.card-article{
  border-width: 4px;
  border-radius: 0px;
  border-color: $body-color;
  margin-top:15px;
  margin-bottom: 15px;
}

img{
  width: 100%;
}

@include media-breakpoint-down(sm) {
  div.mobile-hide {
    display: none !important;
  }
  div.mobile-show {
    display: block !important;
  }
}

@include media-breakpoint-up(md) {
  div.mobile-hide {
    display: block !important;
  }
  div.mobile-show {
    display: none !important;
  }
}

section.smoothscroll{
  scroll-behavior: smooth;
}

html {
  cursor:url("/assets/cursor.svg"),auto;


  &:active {
  cursor:url("/assets/cursor-1.svg"),auto;
  }
}

.nav-tab {	
	cursor:url("/assets/cursor-hand.svg"),auto;
}

.nav-link {	
  cursor:url("/assets/cursor-hand.svg"),auto;
  &:active {
    cursor:url("/assets/cursor-point-3.svg"),auto;
    }
}

.nav-link a:hover {
  cursor:url("/assets/cursor-hand.svg"),auto !important;
}
.nav-link a:active {
  cursor:url("/assets/cursor-point-3.svg"),auto !important;
}

.card-article {	
	cursor:url("/assets/cursor-hand.svg"),auto;
}

@media (hover: hover) and (pointer: fine) {
  #cursor {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
  }
}

// input[type=text]
input.form-control {
  border-color: #999999;
  border-width: 4px;
  border-radius: 0px;
  // width: 80%;
  transition: ease-in-out, width .35s ease-in-out;
}

input.form-control:focus {
  border-color: #000;
  border-width: 4px;
  border-radius: 0px;
  color: $body-color;
  font-weight: bold;
  // width: 80%;
}

textarea.form-control {
  border-color: #999999;
  border-width: 4px;
  border-radius: 0px;
  // width: 80%;
  transition: ease-in-out, width .35s ease-in-out;
}

textarea.form-control:focus {
  border-color: #000;
  border-width: 4px;
  border-radius: 0px;
  color: $body-color;
  font-weight: bold;
  // width: 80%;
}

footer {
  background-color: #000;
}