<!doctype html>
<html lang="en">
    {% include head.html %} 
  <body>
    {% include navigation.html %}
    <div class="container-fluid hero">
      <div class="typewriter">
        <h1>{{ page.title | downcase }}</h1>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 left">
        </div>
        <div class="col-lg-8">  
          {{ content }}
        </div>     
      </div>
    </div>
    {% include footer.html %}
  </body>
  {% include js-scripts.html %}

</html>