<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brian Ngan</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap" rel="stylesheet">
    
  </head>
  
</head>
<body>
  {% include nav-bar.html %}
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-half is-gapless">
          {{ content }}
        </div>
      </div>
    </div>
  </section>
  {% include footer.html %}

  <script src="_site/assets/js/hideme.js"></script>
</body>

</html>