<!doctype html>
<html>
  {% include head.html %}  

  <body>
    {% include nav-bar.html %}
    <section class="section">
      <div class="container">
        <div class="columns is-desktop">
          <div class="column is-half is-gapless">
            {{ content }}
            <br>
            <h4>Picture Of The Day</h4>
            <img src="https://source.unsplash.com/daily?architecture,white,minimal" alt="picture-of-the-day">
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>    
    </section>
    {% include footer.html %}
  </body>
</html>