<!doctype html>
<html lang="en">
    {% include head.html %} 
  <body>
    {% include navigation.html %}
    <div class="row hero-post">
      <div class="offset-lg-4 col-lg-8">
        <div class="container-fluid">
          <h1>{{ page.title | downcase }}</h1>
        </div>
      </div>
    </div>
  <div class="container-fluid">    
    <div class="row">
      <div class="col-lg-4 toc">
        {% include table-of-content.html html=content %}
      </div>
      <div class="col-lg-4 post">
        {{ content }}
        </div>     
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
