<!doctype html>
<html>
  {% include head.html %}  
  <body>
    {% include navigation.html %}
    <div class="col-xs-12 height-mobile"></div>
    <div class="col-xs-12" style="height: 16px;"></div>

    <div class="container"  data-aos="fade-up" >
      <div class="row">
        <div class="col-xs-12" style="height:24px;"></div>
      </div>
      <div class="row">
        <div class="col-sm-8 offset-sm-2 text-right" id="portfolio">
          <h1 class="display-2">
            {{ page.title }}
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 offset-sm-8">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" style="height:24px;"></div>
      </div>
      <div class="row">
        <div class="col-sm-8 offset-sm-2" data-aos="fade-up" >
          {{ content }}
        </div>
      </div>
    </div>

    <div class="col-xs-12" style="height:80px;"></div>
    {% include footer.html %}
    {% include javascript.html %}
  </body>
</html>




