$primary: #1b1b1b;
$body-color: #1b1b1b;
$success: #1713E5;
$blue: #3b7bab;
$danger: #E5136B;
$gray: #6B6773;
$gray-400: #aeacb6;
$gray-100: #DFDDE8;
// $info: $cyan !default;
// $warning: $yellow !default;
// $light: $gray-100 !default;
// $dark: $gray-800 !default;