@import "colours.scss";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
$font-stack: 'Inconsolata', monospace;
$enable-responsive-font-sizes: true;

html{
    font-size: 21px;
    color: $primary;
}

body, p{ 
    font-family: $font-stack !important;
    color: $primary;
    font-weight: 600;
    font-size: 1em;
}

div.typewriter {
    display:inline-block;
}

.typewriter h1 {   
    color: $primary;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 3px solid $primary; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    // letter-spacing: .3em; /* Adjust as needed */
    animation: 
      typing 1.5s steps(10, end),
      blink-caret 0.7s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: $primary }
  }
// Typewriter
h1{
    font-size: 2.5rem;
    font-weight: 600;
    display:inline-block; 

}

h2.post-snippet-title{
    font-size: 1.3rem;
    font-weight: 600;
}

div.post-snippet-caption{
    font-size: 0.75rem;
    font-weight: 500;
    color: $gray;
}

a.nav-link{
    font-size: 1rem;
    color: $primary;
    // font-weight: 500;
}

div.dark-mode{
    font-size: 1rem;
    color: $primary;
    // font-weight: 600;
  }
  
  

div.excerpt p a{
    color: $primary;
    text-decoration: none;
}

div.post-snippet-link a{
      color: $primary;
      text-decoration: none;
      font-weight: 600;
}

div.toc ul li a{
    text-decoration: none;
    color: $primary;
    font-weight: 600;
}

@media (max-width: 1000px) {
    
    html{
        font-size: 42px;
    }

    // div.toc ul li a{
    //     font-size: 28px;
    // }

//     a.nav-link{
//         font-size: 0.8rem;
//     }
    
//     div.dark-mode{
//         font-size: 0.8rem;
//     }
}


